.wipBox{
  margin: 10px 35%;
  padding: 25px 5px;
  text-align: center;

  border: 6px #d95048 solid;
  border-radius: 9px;
  background-color: #f9dedd;

  font-family: 'Roboto', sans-serif;
}
.material-symbols-outlined.md-48 {
  font-size: 48px;
  margin: 4px;
}

/* Hide Arrows on Number Inputs*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.n_inpsWrap, .n_encDecWrapper{
  display: flex;
  flex-flow: row nowrap;
}
.n_inpsWrap > div, .n_encDecWrapper > button{
  flex-grow: 1;
  
  display: flex;
  justify-content:center;
  align-items:center;
}
.n_inputWrapper, .n_keyWrapper{
  display: grid;
  grid-template-rows: 3em 1fr 1fr 3em;
  grid-template-columns: 3em 1fr 1fr 3em;

  margin-left: auto;
  margin-right: auto;
  width: 20em;
  height: 20em;
  aspect-ratio: 1/1;
}

.n_inputBox{
  grid-area: 2 / 2 / span 2 / span 2;
  
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  
  font-size:1.5em;
}
/* .n_inputRowWrapper{
  
} */

.n_encDecWrapper{
  margin: 2em 4em;
  height: 3em;
}
.n_encDecWrapper > button{
  font-size: 2em;
  font-weight: bold;
}